
@import 'mixings';
*
{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
   
}
body
{

      background-color: #9A1663;
      text-align:center; 
      font-family: Marvel
}
.container
{    
      
      
      #displayQA
      {
            #result
            {
                  progress {
                        border: 0;
                        height: 40px;
                        border-radius: 20px;
                        color: #00ebc7 !important;
                    }
                    progress::-webkit-progress-bar {
                        border: 0;
                        height: 40px;
                        border-radius: 20px;
                        color: #00ebc7 !important;
                    }
                    progress::-webkit-progress-value {
                        border: 0;
                        height: 40px;
                        border-radius: 20px;
                        background-color: #00ebc7 !important;
                    }
                    progress::-moz-progress-bar {
                        border: 0;
                        height: 40px;
                        border-radius: 20px;
                        background-color: #00ebc7 !important;
                    }
            }
      }

      #btn-test
      {   
            &:hover
            {
             transition: 1s;
             box-shadow: 10px 10px 0 #efbb2a;
            }
      }
      width: 80%;
      margin: 
      {
            left: auto;
            right: auto;
      };
      #displayQA2
      {
            font-size: larger;

      }

      .togglepart
      {
            #quest
            {
                  #questiontitle
                  {
                        font-size: 40px;
                  }
                  #thequizz
                  {
                        .question
                        {
                              .justquestions
                              {

                                    font-weight: 400;
                                    background-color: red;
                              }
                        }
                        
                  }
            }
            text-align: center;
          
            background-color: white;
            border-radius: 30px;
            margin-left: 10%;
            box-shadow: 5px 10px #E0144C;
            padding: 5%;
            

            #thequizz
            {
                  //justify-content: center;
                  align-items: center;
                  font-size: 40px;
                  margin: 2%;
                  .question
                  {
                        font-size: 35px;
                        .justquestions
                        {

                              display: flex;
                              flex-direction: column;
                              justify-content: flex-start;
                              margin: 0;
                              div{
                                    display: flex;
                                    label{
                                          display: block;
                                          text-align: left;
                                    }
                                    input{
                                          display: block;
                                    }
                              }
                              
                        }
                  }
            }
         
            #result
            {
                  progress
                  {
                        width: 50%;
                        height: 60px;

                  }

                  .answer
                  {
                        
                        border-color: black;
                        margin-left: 10%;
                        border-radius: 20px;
                        background-color: #ff7096;
                       width: 80%;
                       font-size: 24px;
                  }

            }
      }


      


      form
      {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 500;
            color:#FF5858;
            input
            {
                  background-color: #FF97C1;
                  width: 300px;
                  height: 30px;
                  border-radius: 10px;
                  margin-top: 30px;
                  font-family: Marvel
                  
            }
      }
      button
      {
          background-color:  #FF5858;
          border-radius: 20px;
          font-size: larger;
          font-weight: 700;
          padding: 10px;
          margin-top: 30px;
          color: #E0144C;
          font-family: Marvel
      }
    
}
nav
{
ul{
      display: flex;
      justify-content: space-between;
            
      

      li
      {
            a{
                  margin-top: 25px;
                  text-decoration: none;
                  color:#FF97C1;
                  font-size: 50px;
                  font-weight: 200;
             }
      }
    
      button
             {
                  border-radius: 20px;
                  box-shadow: 20px;
                  width: 20%;
                  border-color:#FF5858 ;
                  background-color: #FF5858;
                  color: #FF5858;
                  font-size: 20px;
                  font-weight: 700;
                  text-transform: uppercase;
                  margin-top: 15px;
             }

         
            list-style: none;
     
}



}
.blink_me {
      animation: blinker 3s linear infinite;
    }

@keyframes blinker {
      50% {
        opacity: 0;
      }
    }
    
 @include for-tablet
 {
     
      nav
      {
            font-size: medium;
            margin-right: 20px;
             ul{
                  li{
                        a
                        {
                              margin-top: 20px;
                        }
                  }
             }

      }
 }   
    @include for-phone-only
{
  
    
      body
      {
            margin-top: 10px;
        
           
            text-align: center;
            overflow: auto;
            .container
            {
                  text-align: center;
                  #displayQA2
                  {
                        font-size: small;
                        margin-top: 20px;
                        white-space: pre-wrap;
                        text-align: center;
                        width: fit-content;
                        margin-right: 50px;
                        font-size: 15px;
                        height: 300px;
                        width: 250px;
                        
                  }
                  #displayQA
                  {
                        margin-top: 20px;
                        min-height: 600px;
                        #thequizz
                        {   
                              .question
                              {
                                    .justquestions
                                    {
                                          .ques
                                          {
                                                font-size: 20px;
                                          }
                                          .ques1
                                          {
                                                font-size: 25px;
                                          }
                                    }

                              }

                           
                        }
                        
                   
                  }
                  #divform
                  {
              
                  color: black;
                  }
                  
                 text-align: center;
                 #svgdis
                 {
                  margin-left: 30px;
                  height: 220px;
                  }
                

              
                  ol{
                  display: flex;
                  justify-items: center;
                  justify-content: center;
                  text-align: center;
                  margin-top: 15px;
                  .spacediv1
                  {
                        margin-top: 30px;
                        text-align: center;
                        width: 40px;
                        color: black;
                  
                  }
                  .spacediv2
                  {
                        margin-top: 30px;
                        width: 40px;
                        color: black;
                  }
                  font-size: small;
                  font-weight: 400;
                  
         
           }
                 div
                 {
                       height: auto;
                       width: fit-content;
                       
                       #title
                       {
                        
                        font-size: 40px;
                        color: #E0144C;
                        

                       }
                       
     
                 }
            
            }
          
            nav{
                  width: fit-content;
                  margin-left: 25px;
                  text-align: center;
                  width: 100%;
                  display: flex;
            

                  ul{
                        a
                        {
                           
                        }
                      
                       
                        width: 80%;
                        display: block;
                    
                        #btn-test
                        {
                           width: 200px;
                           height: 50px;


                        }
                       
                  }
                  }

      }
}
@include for-tablet
{     
      body
      {
            nav{
                  ul{
                        display: block;
                        font-size: smaller;
                        button
                        {
                              border-radius: 60px;
                              width: 600px;
                              height: 100px;
                              box-shadow: #FF5858 ;
                              border-width: 2px;
                              border-color:#E0144C;
                              margin: 30px;
                        }
                  }
                  }
      background-color:#FF5858;
      text-align:center; 
      font-family: Arial, Helvetica, sans-serif;
      }

}

.step-compo 
{
      margin: 0%;
      padding: 0%;
      flex:1;
      list-style: none;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 40px;
      div
      {
            display: flex;
         
            align-items: center;


            div
            {
                  background-color: white;
                  height: 2px;
                  width: 30rem;
                  flex-grow: 4;
                
            }
      }
      .title-compo
      {
            background-color: aliceblue;
            border-radius: 50%;
            --size: 3rem;
            width: var(--size);
            height: var(--size);
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            text-align: center;

      }


      item-compo{
      
      --size: 3rem;
      content: "*";
      position: relative;
      z-index: 1;
      display: block;
      border-radius: 50%;
      margin: 1rem auto 0;
      background-color: antiquewhite;
      }
}

.spacediv2
{
       background-color: aliceblue;
}






  